.btn{
  &-submit{
    right: 0;
    top: -3px;
    z-index: 2;
  }
  &-toggled{
    font-size: 25px;
    i.fa{
      font-size: 37px;
    }
    @include breakpoint(sm) {
      font-size: $base-font-size;
      i.fa{
        font-size: 20px;
      }
    }
    left: -155px;
    top: 15px;
    box-shadow: none !important;

  }
  &-mobil{
    font-family: "PT_Sans-Web-Bold";
    font-size: 24px;
    i.fa{
      font-size: 15px;
    }
  }
  &.feedback{
    font-size: inherit;
    &:hover{
      text-decoration: none;
    }

  }
  &-primary{
    background-color: $main-blue;
  }
  &:focus{
    outline: none;
    box-shadow: none;
  }
  &-detal{
    background-color: #fff;
    padding: 4px 50px;
    box-shadow: -5px 20px 20px rgba(#133fac , .8);
    font-size: 21px;
    color: $main-blue;
    border-radius: 10px;
    margin-top: 30px;
  }
  &-slg{
    padding: 0.6rem 2.2rem;
  }
}
.navbar-toggler{
  i.fa{
    font-size: 52px;
  }
  @include breakpoint(sm) {
    i.fa{
      font-size: 20px;
    }
  }
  &:focus{
    outline: none;
  }
}




