.delivery{
  margin-bottom: 60px;
  @include breakpoint(sm) {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 0;
  }
  padding-top: 45px;
  @include breakpoint(lg){
    padding-top: 20px;
  }

  &-title{
    margin-top: 15px;
    margin-bottom: 40px;
  }
  &-label{
    margin-top: 15px;
  }
}