.item{
  .card{
    padding: 40px 10px 20px;
    position: relative;
    box-shadow:0 0 29px rgba(#ddd, 0.9);
    border: 1px solid $item-border;
    @include breakpoint(sm){
      border: none;
      padding: 60px 15px 35px;
    }
    figure{
      margin-bottom: 25px;
      @include breakpoint(sm){
        margin-bottom: 55px;
      }
    }
  &:before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: -1.5rem;
    height: 1.5rem;
    background-color: #f4f4f4;
    z-index: 0;
  }
    img{
      transition: all .2s ease-in-out;
    }
    &:hover{
      img{
        transform: scale(1.01);
      }
    }
  }
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4){
   .card{
     &:before{
       display: none;
     }
   }
  }
}