.main-slider{
  overflow: hidden;

  .carousel{
    &-control-next{
      right: -10px;
    }
     &-control-prev{
       left: -10px;
    }
    &-control-prev-icon, &-control-next-icon{
      width: 90px;
      height: 90px;
    }
    &-indicators{
      li{
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #6894de;
        &.active{
          background-color: #6894de;
        }
      }
    }
    &-item{
      height: 320px;
      img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
      }
      &-description{
        top: 0;
        width: 60%;
        max-width: 60%;
         &_big{
           font-family: "Montserrat-ExtraBold";
           font-size: 2.2rem;
           text-transform: uppercase;
           line-height: 1.2;
           margin-bottom: 0.8rem;

         }
          &_big-italic{
            font-family: "Montserrat-BoldItalic";
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }
        &_small-italic{
          font-family: "Montserrat-MediumItalic";

        }
        &_small{
          font-family: "PT_Sans-Web-Bold";
          text-transform: uppercase;
          font-size: 1rem;
          line-height: 1.5;
          margin-bottom: 0.9rem;
        }

          &_middle{
            font-family: "Montserrat-ExtraBold";
            text-transform: uppercase;
            font-size: 27px;
          }

        &.title-right{
          right: 0;
          padding-right: 85px;

        }
        &.title-left{
          left: 0;
          padding-left: 85px;
        }
      }
      .media{
        padding: 0 40px 0 60px;
      }
    }
  }


}