table{
  &.table{
    color: $base-font-color;
    &-description{
      td{
        height: 24px;
        display: table;
        @include breakpoint(sm){
          display: table-cell;
        }
        &:first-child{
          width: 325px;
          max-width: 325px;
        }

      }
    }
    &-goods{
      @include breakpoint(lg) {
        table-layout: fixed;
      }
      border-color: $main-blue ;
      th, td{
        border: 1px solid $main-blue;
       vertical-align: middle;
        min-height: 50px;
        height: 48px;
        padding-top: 0;
        padding-bottom: -0px;
        text-align: center;
      }
      td{
        &:first-child{
          font-size: 17px;
        }
        &:nth-child(2){
          font-size: 12px;
          line-height: 13px;
        }
      }
      th{
        &.price{
          width: 110px;
      }
        @include breakpoint(lg){
          &:first-child, &:last-child{
            width: 120px;
          }
          &:nth-child(2){
            width: 400px;
          }
        }

      }
    }
    &-delivery{
      table-layout: fixed;
      thead{
        display: none;
        @include breakpoint(sm) {
          display: table-header-group;
        }
      }
      th{
        font-weight: normal;
        background-color: $th-bg;
        padding-top: 2px;
        padding-bottom: 2px;
        &:first-child{
          width: 45%;

        }
        &:last-child{
          width: 40px;
          @include breakpoint(lg){
            width: 50px;
          }
        }

        &:nth-child(2){
          width: 120px;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4){
          text-align: center;
        }
      }
      td{
        vertical-align: middle;
        line-height: 1.2 !important;
        &:nth-child(4), &:nth-child(5), &:nth-child(2){
          font-size: 30px;
          button{
            font-size: 30px;
          }
        }
        @include breakpoint(sm){
          height: 152px;
          &:nth-child(4),  &:nth-child(5), &:nth-child(2){
            font-size: $base-font-size;
            button{
              font-size: $base-font-size;
            }
          }

        }

       &:nth-child(2),
        &:nth-child(3){
        text-align: center;
      }
        figure{
          width: 100px;
          max-width: 100px;
          text-align: center;
        }

      }
    }
  }
  caption{
    font-family: "PT_Sans-Web-Bold";
    caption-side: top;
    font-size:  16px;
  }
}