<input type="checkbox" id="nav-toggle" hidden>
<nav role="navigation" class="collapse-nav">
    <label class="collapse-button d-lg-none" for="nav-toggle" onclick>
    </label>
    <div class="d-flex flex-column pt-5">
        <a href="list.html">Бани</a>
        <a href="item.html">Сауны</a>
        <a href="#">Парные</a>
        <a href="#">С бассейном</a>
        <a href="">С мангалом</a>
        <a href="">С банщиком</a>
        <a href="">С бильярдом</a>
        <a href="">Со SPA</a>
        <a href="">Ещё</a>
    </div>
</nav>