<div class="item">
    <figure>
        <img src="img/pic/2.jpg" alt="">
    </figure>
    <div class=" item_price">
        от 1500 <i class="fa fa-rub" aria-hidden="true"></i>/час
    </div>
    <a href="" class="slide__links">
               <span class="slide__links-type d-block">
                   Банный комплекс
               </span>
                <span class="slide__links-name">
                Воронцовские бани
                    </span>
    </a>
    <div class="stars-rating normal d-flex mt-2">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
    </div>
    <div class="description mt-4">
        <p class="mb-0"><span class="text-lighten-grey">Тип: </span>Сауна, хамам, финская, русская</p>
        <p class="mb-0"><span class="text-lighten-grey">Район: </span>Советский</p>
        <p class="mb-0"><span class="text-lighten-grey">Адрес: </span>Мира, 112А, корпус 1</p>
        <p class="mb-0"><span class="text-lighten-grey">Залов/номеров: </span>6</p>
        <p class="mb-0"><span class="text-lighten-grey">Бассейн: </span>5 м</p>
    </div>
    <div class="d-flex  align-items-center mt-4">
        <div class="fingers d-flex justify-content-center align-items-center">
            <span>111</span>
        </div>
    </div>
    <div class="buttons-block d-flex justify-content-between mt-4">
        <button type="button" class="button-yellow elem-rounded-left">Позвонить</button>
        <button type="button" class="button-yellow elem-rounded-right">Бронировать</button>
    </div>
</div>