<div class="carousel slide main-slider mb-4" id="mainCarousel" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item  active">

                <img src="img/pic/s2.jpg" alt="" class="w-100 h-100">
                <div class="carousel-item-description position-absolute title-right pt-2  pt-md-5 mt-2">
                    <div class="text-white text-center">
                        <p class="carousel-item-description_big-italic">задвижки</p>
                        <p class="carousel-item-description_big">Российского
                            производства</p>
                        <p class="carousel-item-description_big-italic mb-0">в наличии</p>
                        <a href="" class="btn btn-detal">подробнее <i class="fa fa-angle-right ml-1"
                                                                      aria-hidden="true"></i></a>
                    </div>
                </div>
        </div>
        <div class="carousel-item">
                <img src="img/pic/s1.jpg" alt="" class="w-100 h-100">
                <div class="carousel-item-description pt-2 pt-md-5 mt-4  position-absolute title-left text-center text-white">
                    <div class="mt-1 ">
                        <p class="carousel-item-description_small-italic">Различные классы <br>
                            прочности и покрытия</p>
                        <p class="carousel-item-description_middle">Метизная продукция</p>
                        <p class="carousel-item-description_small">Болты, гайки, шайбы, шпильки</p>
                    </div>
                    <a href="" class="btn btn-detal mt-3">подробнее <i class="fa fa-angle-right ml-1"
                                                                       aria-hidden="true"></i></a>

                </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#mainCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#mainCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
    </ul>
</div>