<div class="carousel slide main-slider mb-4" id="mainCarousel" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item  active">
            <div class="position-relative">
                <img src="img/pic/s2.jpg" alt="" >
                <div class="carousel-item-description position-absolute title-right  pt-5 mt-2">
                    <hgroup class="text-white text-center">
                        <h4 class="it mb-1">задвижки</h4>
                        <h2 class="text-uppercase mb-0">Российского
                            производства</h2>
                        <h4 class="it">в наличии</h4>
                        <a href="" class="btn btn-detal">подробнее <i class="fa fa-angle-right ml-1"
                                                                      aria-hidden="true"></i></a>
                    </hgroup>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="position-relative">
                <img src="img/pic/s1.jpg" alt="">
                <div class="carousel-item-description pt-5 mt-4  position-absolute title-left text-center text-white">
                    <hgroup class="mt-1 ">
                        <h6 class="mItalic mb-1">Различные классы <br>
                            прочности и покрытия</h6>
                        <h3 class="text-uppercase">Метизная продукция</h3>
                        <h6 class="text-uppercase mBold">Болты, гайки, шайбы, шпильки</h6>
                    </hgroup>
                    <a href="" class="btn btn-detal mt-3">подробнее <i class="fa fa-angle-right ml-1"
                                                                       aria-hidden="true"></i></a>

                </div>
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#mainCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#mainCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
    </ul>
</div>