<div class="item slide">
    <figure class="mb-4 pt-1">
        <img src="img/pic/1.jpg" alt="">
    </figure>
    <div class="item_price">
        от 1500 <i class="fa fa-rub" aria-hidden="true"></i>/час
    </div>
    <a href="" class="slide__links">
               <span class="slide__links-type d-block">
                   Банный комплекс
               </span>
                <span class="slide__links-name">
                Воронцовские бани
                    </span>
    </a>
    <div class="item_footer d-flex justify-content-between align-items-center">
        <div class="fingers d-flex justify-content-center align-items-center">
            <span>111</span>
        </div>
        <div class="stars-rating small d-flex">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>

    </div>
</div>