    <div class="slide-hor d-flex justify-content-between flex-wrap">
        <div class="row w-100">
        <div class="col-12 col-sm-6 d-flex flex-column  pr-2">
            <figure class="mb-2">
                <img src="img/pic/1.jpg" alt="">
            </figure>
            <a href="" class="slide__links">
               <span class="slide__links-type d-block">
                   Банный комплекс
               </span>
                <span class="slide__links-name">
                Воронцовские бани
                    </span>
        </a>
        </div>
        <div class="col-12 col-sm-6 d-flex flex-column  pl-3">
            <div class="stars-rating small d-flex mb-2">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p class="mb-0 slide__description">Отличное качество фотографий, удобное меню и управление, много настраиваемых кнопок и
                полезных настроек в меню. Наконец сделали в этой серии сенсорную фокусировку и стабилизатор, который
                работает отлично! Удобная работа со смартфоном в режиме ДУ, небольшой вес, хотя объектив всё равно
                перевешивает Отличное качество фотографий, удобное меню и управление, много настраиваемых кнопок и
                полезных настроек в меню. Наконец сделали в этой серии сенсорную фокусировку и стабилизатор, который
                работает отлично! Удобная работа со смартфоном в режиме ДУ, небольшой вес, хотя объектив всё равно
                перевешивает</p>
        </div>
        </div>
    </div>
