<div class="tab-content mb-5">
    <div class="tab" id="zal1">
        <div class="row">
            <div class="col-lg-8">
                <div class="slider-for mb-2">

                        <img src="img/pic/s-b.jpg" alt="" class="w-100">

                        <img src="img/pic/s-b.jpg" alt="" class="w-100">

                        <img src="img/pic/s-b.jpg" alt="" class="w-100">

                        <img src="img/pic/s-b.jpg" alt="" class="w-100">

                </div>
                <div class="slider-nav">

                        <img src="img/pic/s.jpg" alt="">

                        <img src="img/pic/s.jpg" alt="">

                        <img src="img/pic/s.jpg" alt="">

                        <img src="img/pic/s.jpg" alt="">

                </div>
                <div class="video mt-4 pt-3">
                    <img src="img/pic/video.jpg" alt="" class="w-100">
                </div>
            </div>
            <div class="col-lg-4 mt-5 mt-lg-0 mb-5 mb-lg-0">
                <div class="buttons-block d-flex justify-content-between  item mb-5">
                    <button type="button" class="button-yellow elem-rounded-left">Позвонить</button>
                    <button type="button" class="button-yellow elem-rounded-right">Бронировать</button>
                </div>
                <div class="item_price">
                    500 - 2000 <i class="fa fa-rub" aria-hidden="true"></i>/час
                </div>
                <div class="description mt-4 pt-2">
                    <p class="mb-0"><span class="text-lighten-grey">Район: </span>Кировский</p>
                    <p class="mb-0"><span class="text-lighten-grey">Адрес: </span>Дмитриева, 1/8</p>
                    <p class="mb-0"><span class="text-lighten-grey">Остановка:  </span>Дмитриева</p>
                    <p class="mb-0"><span class="text-lighten-grey">Количество номеров: </span>6</p>
                    <p class="mb-0"><span class="text-lighten-grey">Вместимость, до:  </span>20 чел.</p>
                    <p class="mb-0"><span class="text-lighten-grey">Парная: </span>Финская, С веником</p>
                    <p class="mb-0">Возможно потребуется доплата за каждого дополнительного гостя свыше номинала.</p>
                    <p class="mb-0">Подробнее у администратора сауны.</p>
                </div>
                <div class="sevises  mt-5 pt-2">
                    <p class="mb-0"><strong>Услуги: </strong>выбор веников, ароматы для парной, программы по телу,
                        различные виды пропарок,</p>
                    <p class="mb-0"><strong>Техника: </strong>ТВ (спутниковое/кабельное), аудио-видео аппаратура,
                        кондиционеры, бесплатный WiFi,</p>
                    <p class="mb-0"><strong>Для отдыха: </strong>гостиная, бар/напитки, поможем накрыть на стол,</p>
                    <p class="mb-0"><strong>Аквазона: </strong>подсветка, подогрев, противоток, фильтрация, фитобочка,
                    </p>
                    <p class="mb-0"><strong>Кухня: </strong>бар с напитками, пиво, можно со своей едой и напитками,</p>
                    <p class="mb-0"><strong>Спорт и развлечения: </strong>русский бильярд, нарды, настольные игры,</p>
                    <p class="mb-0"><strong>Оздоровительные услуги: </strong>массажное кресло,</p>
                    <p class="mb-0"><strong>Дополнительные услуги: </strong>полотенца, простыни, тапочки, охраняемая
                        парковка,</p>
                    <p class="mb-0"><strong>Виды расчёта: </strong>банковские карты, наличные</p>
                </div>
            </div>
        </div>
        <div class="row mr-4">
            <div class="col">
                <div class="response">
                    <div class="response-header d-flex align-items-center mb-1">
                        <div class="user"></div>
                        <div class="ml-3">Анастасия</div>
                    </div>
                    <div class="response-body">
                        <p>Отдыхала с друзьями в номере «Нежность» 9го января, отдохнули шикарно! Номер чистый, все аккуратно подготовлено, персонал приветливый и доброжелательный, на все вопросы отвечали вежливо и с улыбкой, обязательно вернёмся ещё!</p>
                    </div>
                    <div class="response-footer d-flex justify-content-between w-100 align-items-center">
                        <div>
                            <a href="" class="text-blue">Ответить</a>
                            <span>30 сентября, Омск</span>
                        </div>
                        <div class="response-fingers d-flex justify-content-between align-items-center mr-3">
                            <div class="response-fingers__up d-flex align-items-center mr-4">
                                <span class="up d-inline-block mr-3"></span>
                                <span class="text-green2">15</span>
                            </div>
                            <div class="response-fingers__down d-flex align-items-center">
                                <span class="down d-inline-block mr-3"></span>
                                <span class="text-orange">3</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="response">
                    <div class="media-header d-flex align-items-center mb-1">
                        <div class="user"></div>
                        <div class="ml-3">Анастасия</div>
                    </div>
                    <div class="media-body">
                        <p>Отдыхала с друзьями в номере «Нежность» 9го января, отдохнули шикарно! Номер чистый, все аккуратно подготовлено, персонал приветливый и доброжелательный, на все вопросы отвечали вежливо и с улыбкой, обязательно вернёмся ещё!</p>
                    </div>
                    <div class="media-footer d-flex justify-content-between w-100 align-items-center">
                        <div>
                            <a href="" class="text-blue">Ответить</a>
                            <span>30 сентября, Омск</span>
                        </div>
                        <div class="media-fingers d-flex justify-content-between align-items-center mr-3">
                            <div class="media-fingers__up d-flex align-items-center mr-4">
                                <span class="up d-inline-block mr-3"></span>
                                <span class="text-green2">15</span>
                            </div>
                            <div class="media-fingers__down d-flex align-items-center">
                                <span class="down d-inline-block mr-3"></span>
                                <span class="text-orange">3</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-around mt-5 pt-2 mr-lg-4 mb-5 mb-lg-0">
            <div class="col-lg-6 text-center mb-4 mb-lg-0"> <img src="img/pic/10.jpg" alt="" class="w-100 w-sm-auto w-lg-100"></div>
            <div class="col-lg-6 text-center"> <img src="img/pic/11.jpg" alt="" class="w-100 w-sm-auto w-lg-100"></div>
        </div>
    </div>
    <div class="tab" id="zal2">2</div>
    <div class="tab" id="zal3">3</div>
    <div class="tab" id="zal4">4</div>
    <div class="tab" id="zal5">5</div>
</div>