.feedback{
  .close{
    color: $main-blue;
  }
  .upload-form{

    span{
      cursor: pointer;
      text-decoration: underline;
      color: $main-blue;
    }
  }
}



#f_name {
  background: transparent;
  border: 0;

}
