html, body{
	height: 100%;
}

body{
	font-family: $base-font;
	color: $base-font-color;
	font-size: $base-font-size;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	-webkit-font-smoothing: antialiased;
}
header{
	flex: 0 0 auto;
}
main{
	width: 100%;
	padding-bottom: 15px;
	@include breakpoint(sm){
		padding-left: 10px;
	}
	.content{
		background-color: $content-bg ;
		z-index: 100;
		padding-top: 20px;
	}
}

.container-fluid{
  max-width: 970px;
	&.page-wrapper{
		display: flex;
		flex: 1 0 auto;
		overflow: hidden;

		&.toggled{
			main{
				margin-left: - $aside-width;
			}
		}
	}
}

footer {
	flex: 0 0 auto;
}






