<% var data = {
title: "Трубакс | Главная",
headerNav:  _.template(require('./../includes/components/header-nav.html'))(),
}; %>


<%= _.template(require('./../includes/header.html'))(data) %>
    <div class="container-fluid page-wrapper pt-3">
        <aside>
            <%= _.template(require('./../includes/aside.html'))(data) %>
        </aside>
        <main role="main">
            <%= _.template(require('./../includes/main.html'))(data) %>
        </main>
    </div>
<%= _.template(require('./../includes/footer.html'))(data) %>
