.footer{
  &-nav{
    li{
      line-height: 30px;
      @include breakpoint(sm) {
        line-height: 12px;
      }

      a{
        color: #fff;
        padding: 0;
        font-size: 18px;
        @include breakpoint(sm){
          font-size: 9px;
        }
      }
    }
    &:after{
      content: '';
      display: none;
      @include breakpoint(md) {
        display: inline-block;
      }
      position: absolute;
      width: 1px;
      top: -3px;
      bottom: -8px;
      right: 0px;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 68%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,1) 68%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,1) 68%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */;
    }
  }
  &-soc{
    padding: 0 23%;
    @include breakpoint(sm) {
      padding: 0;
    }
    &-title{
      font-size: 17px;
      letter-spacing: 0.09em;
      text-align: center;
      @include breakpoint(sm){
        font-size: 8px;
        letter-spacing: 0.15em;
        text-align: left;
      }
    }
    .b-social-button{
      font-size: 40px;
      @include breakpoint(sm) {
        font-size: 28px;
      }
    }
  }
  &-contacts{
    padding: 0 23%;
    @include breakpoint(sm) {
      padding: 0;
    }
    p{
      font-size: 14px;
      letter-spacing: 0.05em;
      line-height: 20px;
      @include breakpoint(sm) {
        font-size: 11px;
        letter-spacing: 0.03em;
        line-height: 17px;
      }
    }
  }
}