.footer{
  &-nav{
    padding-bottom: 45px;
    @include breakpoint(md) {
      width: 130px;
      padding-bottom: 5px;
    }

    li{
      line-height: 33px;
      @include breakpoint(md) {
        line-height: 12px;
      }

      a{
        color: #fff;
        padding: 0;
        font-size: 20px;
        @include breakpoint(md){
          font-size: 9px;
        }
      }
    }
    &:after{
      content: '';
      display: none;
      @include breakpoint(md) {
        display: inline-block;
      }
      position: absolute;
      width: 1px;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: #fff;
    }
  }
  &-soc{
    padding-top: 65px;
    padding-bottom: 30px;
    @include breakpoint(md) {
      padding: 0;
    }
    &-title{
      font-size: 17px;
      letter-spacing: 0.09em;
      text-align: center;
      @include breakpoint(md){
        font-size: 8px;
        letter-spacing: 0.15em;
        text-align: left;
      }
    }
    .b-social-button{
      font-size: 40px;
      @include breakpoint(sm) {
        font-size: 28px;
      }
    }
  }
  &-contacts{
    padding: 0 7%;
    @include breakpoint(md) {
      padding: 0 0 0 20px;
    }
    p{
      font-size: 14px;
      letter-spacing: 0.05em;
      line-height: 20px;
      @include breakpoint(md) {
        font-size: 12px;
        letter-spacing: 0.03em;
        line-height: 17px;
      }
      &.copyright{
        @include breakpoint(md) {
          font-size: 10px;
        }
      }
    }
    &_tel{
      margin-bottom: 5px;
      @include breakpoint(md) {
        margin-bottom: -5px;
      }
    }
    a.mail{
      letter-spacing: 0.04em;
    }

  }
  &-row{
    @include breakpoint(lg) {
      padding-left: 160px;
    }
  }
}