.header-nav{
  background-color: $main-blue;
  height: 60px;
  a{
    &.text-white{
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &-link{
    position: relative;
    list-style: none;
    a{
      color: #fff;
      letter-spacing: 0;
      &:hover{
        text-decoration: underline;
        color: #fff;
      }
    }

    &.basket{
      &:after{
        display: none;
      }
    }
    &.calc{
      font-family: "PT_Sans-Web-Bold";
      background-color: #fff;
      border-radius: 18px;
      color: $light-blue;
      padding: 8px 25px;
      &:after{
        display: none;
      }
    }
    .ico-basket{
      top: 2px;
      left: 5px;
    }
    &:after{
      content: '';
      display: inline-block;
      position: absolute;
      width: 1px;
      top: -10px;
      bottom: -10px;
      right: -19px;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 68%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,1) 68%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,1) 68%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */;
    }
  }
  .sidenav-trigger{
    i.fa{
      font-size: 50px;
      @include breakpoint(sm) {
        font-size: 22px;
      }
    }
  }
  .collapsibleNavbar{
    &.show{
      position: absolute;
      display: block !important;
      background-color: $main-blue;
      text-align: center;
      left: 0;
      right: 0;
      top: 115px;
      z-index: 200;
      padding-top: 17px;
      padding-bottom: 65px;

       a{
         display: block;
         font-size: 24px;
         line-height: 53px;
         &:after{
           display: none;
         }
       }
    }
  }
  .count{
    font-family: $base-font;
    right: -5px;
    top: -5px;
    background-color: $red ;
    border-radius: 50%;
    z-index: 10;
    border: 1px solid #fff;
    box-shadow: 0 0 1px $red;
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
}