.header-nav{
  background-color: $main-blue;
  height: 60px;
  &-link{
    color: #fff;
    letter-spacing: 0;
    position: relative;
    &:hover{
      text-decoration: underline;
      color: #fff;
    }
    .ico-basket{
      @include sprite($basket);
    }
    &.basket{
      &:after{
        display: none;
      }
    }
    &.calc{
      font-family: "PT_Sans-Web-Bold";
      background-color: #fff;
      border-radius: 18px;
      color: $light-blue;
      padding: 8px 23px;
      &:after{
        display: none;
      }
    }
    .ico-basket{
      top: 2px;
      left: 5px;
    }
    &:after{
      content: '';
      display: inline-block;
      position: absolute;
      width: 1px;
      top: -15px;
      bottom: -15px;
      right: -19px;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 68%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,1) 68%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,1) 68%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */;
    }
  }
}