.metismenu{
  width: 100%;
  margin-left: - $aside-width;
  transition: margin-left 0.5s linear;
  li{
    margin-bottom: 12px;
    a{
      font-size: 25px;
      line-height: 39px;
      @include breakpoint(sm) {
        font-size: $base-font-size;
        line-height: 17px;
      }
      color: $base-font-color;

      padding-right: 15px;
      &.has-arrow{
        &:after{
          right: 2px;
          color: $main-blue;
          transform: rotate(130deg);
          width: .7em;
          height: .7em;
          border-width: 2px 0 0 2px;
          top: 27px;
          @include breakpoint(sm) {
            top: 13px;
          }
        }
      }
    }
    &.active{
      margin-bottom: 0;
    }
  }
}