.metismenu{
  li{
    margin-bottom: 12px;
    a{
      color: $base-font-color;
      line-height: 17px;
      &.has-arrow{
        &:after{
          right: 0;
          color: $main-blue;
          transform: rotate(130deg);
          width: .7em;
          height: .7em;
          border-width: 2px 0 0 2px;
          top: 17px;
        }
      }
    }
  }
}