// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$basket-blue-name: 'basket-blue';
$basket-blue-x: 61px;
$basket-blue-y: 42px;
$basket-blue-offset-x: -61px;
$basket-blue-offset-y: -42px;
$basket-blue-width: 22px;
$basket-blue-height: 22px;
$basket-blue-total-width: 135px;
$basket-blue-total-height: 68px;
$basket-blue-image: '../img/sprite.png';
$basket-blue: (61px, 42px, -61px, -42px, 22px, 22px, 135px, 68px, '../img/sprite.png', 'basket-blue', );
$basket-name: 'basket';
$basket-x: 88px;
$basket-y: 42px;
$basket-offset-x: -88px;
$basket-offset-y: -42px;
$basket-width: 14px;
$basket-height: 14px;
$basket-total-width: 135px;
$basket-total-height: 68px;
$basket-image: '../img/sprite.png';
$basket: (88px, 42px, -88px, -42px, 14px, 14px, 135px, 68px, '../img/sprite.png', 'basket', );
$inst-name: 'inst';
$inst-x: 31px;
$inst-y: 42px;
$inst-offset-x: -31px;
$inst-offset-y: -42px;
$inst-width: 25px;
$inst-height: 26px;
$inst-total-width: 135px;
$inst-total-height: 68px;
$inst-image: '../img/sprite.png';
$inst: (31px, 42px, -31px, -42px, 25px, 26px, 135px, 68px, '../img/sprite.png', 'inst', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 135px;
$logo-height: 37px;
$logo-total-width: 135px;
$logo-total-height: 68px;
$logo-image: '../img/sprite.png';
$logo: (0px, 0px, 0px, 0px, 135px, 37px, 135px, 68px, '../img/sprite.png', 'logo', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 42px;
$vk-offset-x: 0px;
$vk-offset-y: -42px;
$vk-width: 26px;
$vk-height: 26px;
$vk-total-width: 135px;
$vk-total-height: 68px;
$vk-image: '../img/sprite.png';
$vk: (0px, 42px, 0px, -42px, 26px, 26px, 135px, 68px, '../img/sprite.png', 'vk', );
$spritesheet-width: 135px;
$spritesheet-height: 68px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($basket-blue, $basket, $inst, $logo, $vk, );
$spritesheet: (135px, 68px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
